@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

$buttonGutter: 2px;

.root {
  background-color: t-color(white);
  border-top: 1px solid t-color(grey);
  bottom: 0;
  padding-top: t-spacing(xsmall);
  position: fixed;
  text-align: center;
  width: 100%;
}

.wrapper {
  display: inline-block;
}

.pane {
  float: left;
}

.row {
  padding-bottom: t-rem($buttonGutter);
  text-align: center;
}
